<table style="width:100%;margin-top: 50px;">
    <tr>
        <td>
            <div>If you have a style you want to learn, song recommendations, or questions about the event, don't be afraid to reach out!</div>
        </td>
        <td>
            <img style="width:50%;" src="https://scontent-atl3-2.xx.fbcdn.net/v/t1.15752-9/275519827_729708371768697_356091072698800226_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=ae9488&_nc_ohc=jW4eJHeRAw0AX9hwdtc&_nc_ht=scontent-atl3-2.xx&oh=03_AVJle9LnD6jDY__TDGsuf2YIey5dfmeb6FbyD1XV0nJPwg&oe=625B28F3" />
        </td>
    </tr>
</table>

<table>
    <tr>
        <td>
            <form action="mailto:downingparis@yahoo.com" method="POST" enctype="multipart/form-data" name="EmailForm"> 
                <br>
                <input type="text" size="19" name="ContactName" placeholder="Name"><br><br>
                <br> 
                <textarea placeholder="Message" name="ContactComment" rows="6" cols="20"></textarea><br><br> 
                <input type="submit" value="Submit"> 
            </form>
        </td>
    </tr>
</table>

