<table style="width:100%;margin-top: 50px;">
    <tr>
        <td style="padding-right:100px; padding-left: 100px;">
            <div>Mine Brook Park</div>
            <div>Address: 116 Capner St, Flemington, NJ 08822</div>
            <div>We will meet up right next to the playground in the pavilion, rain or shine!</div>
        </td>
        <td>
            <!-- <img src="../../assets/minebrook.PNG" alt="Minebrook_Park"> -->
            <img src="https://api.macaronikid.com/assets/uploads/town/northwest-jersey/business-image-7772-1334799632.88" />
        </td>
    </tr>