<table style="width:100%">
    <th colspan="2">
        Swingin' in the Park is home to two main styles of Swing Dancing, Lindy Hop and West Coast Swing.
    </th>
    <tr>
        <td style="padding-right:100px; padding-left: 100px;">
            <u>Lindy Hop</u> was danced in the 20s, 30s, and 40s in the USA. 
            It originated in African-American communities of Harlem, New York.
            It is known for its bounce, syncopated beat, and wild styling. 
            It is a 6-8 count dance which is usually danced to Big Band, Jazz, and anything with a swung beat. 
            <iframe width="420" height="315"
                src="https://www.youtube.com/embed/s4C8qwR3oj0"
                frameborder="0" allowfullscreen>
            </iframe>
        </td>
        <td style="padding-right:100px; padding-left: 100px;">
            <u>West Coast Swing</u> came from a smoother style of Lindy Hop in the 1950s.
            Rumor has it that due to its linear slot, it was much easier to show on TV.
            It is known for its smoothness, sensuality, and flat beat.
            It is a 6-8 count dance which is usually danced to pop music, but it can be danced to anything in 4/4 time.
            <iframe width="420" height="315"
                src="https://www.youtube.com/embed/VxJ-KSHYmLE"
                frameborder="0" allowfullscreen>
            </iframe>
        </td>
    </tr>
</table>
<hr>
<table style="width:100%">
    <th colspan="2">
        Swing is a family of dances. These other styles of swing are available on popular request. If you are interested, please contact us!
    </th>
    <tr>
        <td style="padding-right:100px; padding-left: 100px;">
            <u>Charleston</u> is often used to spice up your Lindy. Great for fast music. This video shows both 30s and 20s style Charleston.
            <iframe width="420" height="315"
                src="https://www.youtube.com/embed/Her0fqf1MZ4"
                frameborder="0" allowfullscreen>
            </iframe>
        </td>
        <td style="padding-right:100px; padding-left: 100px;">
            <u>Solo Jazz</u> is danced without a partner, and its styling heavily influences many of the classic Lindy moves.
            <iframe width="420" height="315"
                src="https://www.youtube.com/embed/zpeUnWrteQM"
                frameborder="0" allowfullscreen>
            </iframe>
        </td>
    </tr>
    <tr>
        <td style="padding-right:100px; padding-left: 100px;">
            <u>Blues</u> is danced to slower swing music. It's very easy to learn, and can range from funny to sensual.
            <iframe width="420" height="315"
                src="https://www.youtube.com/embed/HtXSPYEiKCY"
                frameborder="0" allowfullscreen>
            </iframe>
        </td>
        <td style="padding-right:100px; padding-left: 100px;">
            <u>Collegiate Shag</u> is danced to quick swing music, and those who dance it keep a still upper body with wild legs. 
            <iframe width="420" height="315"
                src="https://www.youtube.com/embed/uUGsLoZYXb4"
                frameborder="0" allowfullscreen>
            </iframe>
        </td>
    </tr>
    <tr>
        <td style="padding-right:100px; padding-left: 100px;">
            <u>Balboa</u> was created because swing dancers wanted to dance to fast music, but there wasn't enough space on the dance floor.
            <iframe width="420" height="315"
                src="https://www.youtube.com/embed/vvwPu3hafz4"
                frameborder="0" allowfullscreen>
            </iframe>
        </td>
        <td style="padding-right:100px; padding-left: 100px;">
            <u>Carolina Shag</u> is a smooth dance related to West Coast Swing. It has a lot of footwork styling and is usually danced to beach music.
            <iframe width="420" height="315"
                src="https://www.youtube.com/embed/8l5pczCZw04"
                frameborder="0" allowfullscreen>
            </iframe>
        </td>
    </tr>
    <tr>
        <td style="padding-right:100px; padding-left: 100px;">
            <u>Saint Louis Shag</u> is similar to Collegiate Shag, but with triple steps. It's danced to moderately fast music.
            <iframe width="420" height="315"
                src="https://www.youtube.com/embed/yXT0qTHUVeQ"
                frameborder="0" allowfullscreen>
            </iframe>
        </td>
        <td style="padding-right:100px; padding-left: 100px;">
            <u>Heel Shag</u> was recreated from a magazine clipping and is danced to beach music. Since it's unknown, there's lots of room for creativity!
            <iframe width="420" height="315"
                src="https://www.youtube.com/embed/Hyw1lCQy0AI"
                frameborder="0" allowfullscreen>
            </iframe>
        </td>
    </tr>
</table>
<!--
    Boogie Woogie/Rock & Roll
    Country Swing
    East Coast Swing
    Jitterbug
    Jive
    Zydeco
-->
