<nav class="navbar navbar-expand-lg">
  <a routerLink="" class="navbar-brand border border-primary rounded">Swingin' in the Park</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">  
      <a routerLink="" (click)="enableDisableRule(1)"  [ngClass]="{'nav-item nav-link selected' : toggle1, 'nav-item nav-link': !toggle1}">Home</a>
      <a routerLink="dances" (click)="enableDisableRule(2)" [ngClass]="{'nav-item nav-link selected' : toggle2, 'nav-item nav-link': !toggle2}" href="#">Dances</a>
      <a routerLink="location" (click)="enableDisableRule(3)" [ngClass]="{'nav-item nav-link selected' : toggle3, 'nav-item nav-link': !toggle3}" href="#">Location</a>
      <a routerLink="contact" (click)="enableDisableRule(4)" [ngClass]="{'nav-item nav-link selected' : toggle4, 'nav-item nav-link': !toggle4}" href="#">Contact us</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>