<table style="width:100%;margin-top: 50px;">
    <tr>
        <td style="padding-right:100px; padding-left: 100px;">
            <h3><b>Free Lindy Hop and West Coast Swing Social!</b></h3>
            <div><u>Who:</u> Anyone who wants to dance, with or without a partner!</div>
            <div><u>What:</u> Two classes and a social</div>
            <div><u>Where:</u> Mine Brooke Park</div>
            <div><u>When:</u> Sundays 1-4pm May 1st-Oct 30th</div>
            <div><u>How much:</u> 100% free, though tips are very appreciated. Renting space is not free, and all extra procedes will go to improving the community (free water, guest instructors, hiring a band)</div>
            <div><u>Covid Policies:</u> Masks/Vax not required. Come as you feel comfortable</div>
        </td>
        <td>
            <img src="https://images.squarespace-cdn.com/content/v1/56841850cbced6a015738a0a/1492570134484-87O2SLVODMB29149SYIA/image-asset.jpeg?format=1000w" />
        </td>
    </tr>
</table>